.preview-display{
    width: 300px;
    height: 370px;
   
    border: 1px solid black;
    padding: 10px;
   
    margin-top: -200px;
    margin-right: -200px;
    background-color: bisque;
    z-index: 2;
}

.preview-content >img{
    width: 90px;
    height: 115px;
}

.book-summary
{   
       text-align:justify;
        max-height: 200px;
        display: -webkit-box;                  /* Enable box layout for multi-line truncation */
        -webkit-box-orient: vertical;          /* Set the orientation to vertical */
        overflow: hidden;                      /* Hide text that overflows */
        -webkit-line-clamp: 10;                 /* Limit the number of lines to 3 */
        text-overflow: ellipsis;               /* Add ellipsis (...) */
      
   
}

.preview-content{
    display: flex;
    justify-content: space-around;
}

.book-info >  h1{
    font-size: 1.15rem;
}

.book-info{
    width: 50%;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

